.App {
  min-height: 100vh;
  background-color: #282c34;
  border: 1px solid #282828;
  color: white;
}

.cccaImg {
  display: block;
  width: 40vw;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
}

.form-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.form-check {
  margin: 0 10px;
}

.left-right-btns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

label {
  font-size: 1.2em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
